<nav aria-label="breadcrumb">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Category</a></li>
    <li>Page</li>
  </ul>
</nav>
# app/views/pages/home.html.erb
<hgroup>
  <!-- Nombre -->
  <h1>Michele Bavestrello C</h1>
  <!-- Cargo -->
  <h2> Trainee coding</h2>
</hgroup>
<!-- Email -->
<a href="mailto:michele.bavestrello@gmail.com">michele.bavestrello@gmail.com</a>
<!-- Descripción de tu perfil, hobbies y pasiones -->
<p>Mi nombres es <strong>Michele Bavestrello</strong>.</p>
<p>Me gusta realizar deportes. Actualmente me encuentro realizando un bootcamp de Ruby on Rails debido a que me gustaría cambiar de profesión</p>
<h3>Ultimos 2 Empleos</h3>
<ul>
  <li>Inversiones Olmue spa, administrativo contable</li>
  <li>Santa isabel adminstradora, subgerente trainee</li>
</ul>